<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.api.dao.RbCmdTemplateMapper">
  <resultMap id="BaseResultMap" type="com.eservice.api.model.RbCmdTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="json_cmd" jdbcType="LONGVARCHAR" property="jsonCmd" />
    <result column="python_cmd" jdbcType="LONGVARCHAR" property="pythonCmd" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
  </resultMap>
</mapper>